
@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modak&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Modak&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;1,100&family=Wavefont:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Modak&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;1,100&family=Wavefont:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Modak&family=Moirai+One&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;1,100&family=Wavefont:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Modak&family=Moirai+One&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;1,100&family=Rubik+Dirt&family=Wavefont:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Modak&family=Moirai+One&family=Nosifer&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;1,100&family=Rubik+Dirt&family=Wavefont:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Modak&family=Moirai+One&family=Nosifer&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;1,100&family=Rubik+Dirt&family=Rubik+Pixels&family=Wavefont:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Modak&family=Moirai+One&family=Nosifer&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;1,100&family=Rubik+Dirt&family=Rubik+Pixels&family=Trade+Winds&family=Wavefont:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galindo&family=Major+Mono+Display&family=Modak&family=Moirai+One&family=Nosifer&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;1,100&family=Rubik+Dirt&family=Rubik+Pixels&family=Trade+Winds&family=Wavefont:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galindo&family=Lakki+Reddy&family=Major+Mono+Display&family=Modak&family=Moirai+One&family=Nosifer&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;1,100&family=Rubik+Dirt&family=Rubik+Pixels&family=Trade+Winds&family=Wavefont:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galindo&family=Lakki+Reddy&family=Major+Mono+Display&family=Modak&family=Moirai+One&family=Nosifer&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;1,100&family=Rubik+Beastly&family=Rubik+Dirt&family=Rubik+Pixels&family=Trade+Winds&family=Wavefont:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Galindo&family=Lakki+Reddy&family=Major+Mono+Display&family=Modak&family=Moirai+One&family=Nosifer&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;1,100&family=Rubik+Beastly&family=Rubik+Dirt&family=Rubik+Pixels&family=Trade+Winds&family=Wavefont:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Galindo&family=Lakki+Reddy&family=Major+Mono+Display&family=Modak&family=Moirai+One&family=Nosifer&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;1,100&family=Rubik+Beastly&family=Rubik+Dirt&family=Rubik+Microbe&family=Rubik+Pixels&family=Trade+Winds&family=Wavefont:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Galindo&family=Lakki+Reddy&family=Major+Mono+Display&family=Modak&family=Moirai+One&family=Nosifer&family=Press+Start+2P&family=Roboto:ital,wght@0,100;0,300;1,100&family=Rubik+Beastly&family=Rubik+Dirt&family=Rubik+Marker+Hatch&family=Rubik+Microbe&family=Rubik+Pixels&family=Trade+Winds&family=Wavefont:wght@100&display=swap');

header {
  background-image: url('Images/headerBG.jpg');
  background-size: cover;
  background-position: center;
  height: 400px; /* Adjust the height as needed */
  text-align: center;
  color: #d7be5b; /* Set the font color to ensure readability */
  text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 5px #fff, 0 0 0px #ffffff, 0 0 50px #ffffff, 0 0 0px #ffffff, 0 0 7px #ffffff, 0 0 1px #ffffff;
  font-family: 'Carter One', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center; 
    margin: 0 auto; 
    background-color:#312F2A;
  }

 .card {
    background-image: url('Images/cardBG0.png');
    width: 300px;
    border: 3px solid #ccc;
    border-radius: 60px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
  }
  .Imagediv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;

}
  .image {
    width: 200px;
    height: 200px;
    background-color: #eee;
    margin-bottom: 10px;
  }

  .name {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size:25px;
  }

  .members {
    margin-bottom: 5px;
  }

  .creation-date {
    margin-bottom: 5px;
    font-size:20px;

  }

  .first-album {
    margin-bottom: 15px;
    font-size:20px;

  }
