<!DOCTYPE html>
<html>
<head>
    <title>Groupie Tracker - Details</title>
    <link rel="icon" type="image/png" href="static/Images/iconb0.png">
    <link rel="stylesheet" href="static/style.css">
    <style>

    </style>
</head>
<body>
    <header>
        <h1 class="title glow-effect">GROUPIE-TRACKER</h1>
    </header>

    <div class="container">
        <div class="card">
            <div class="name">{{.Name}}</div>
            <div class="Imagediv">
                <img class="Image" src="{{.Image}}" alt="Image">
            </div>
            <div class="creation-date"><strong>Creation Date:</strong> {{.CreationDate}}</div>
            <div class="first-album"><strong>First Album:</strong> {{.FirstAlbum}}</div>
            <div class="locations">
                <strong>Locations:</strong>
                <ul>
                    {{range .Locations}}
                    <li>{{.}}</li>
                    {{end}}
                </ul>
            </div>
            <div class="dates">
                <strong>Dates:</strong>
                <ul>
                    {{range .Dates}}
                    <li>{{.}}</li>
                    {{end}}
                </ul>
            </div>
            <div class="dates-locations">
                <strong>Dates and Locations:</strong>
                <ul>
                    {{range $date, $locations := .DatesLocations}}
                    <li><strong>{{$date}}:</strong> {{range $location := $locations}}{{ $location }} {{end}}</li>
                    {{end}}
                </ul>
            </div>

        </div>
    </div>
</body>
</html>