<!DOCTYPE html>
<html>
<head>
    <title>Groupie Tracker</title>
    <link rel="icon" type="image/png" href="static/Images/iconb0.png">
    <link rel="stylesheet" href="static/style.css">
    <style>

    </style>
</head>
<body>

    <header>
        <h1 class="title glow-effect">GROUPIE-TRACKER</h1>
   </div>
    </header>
    <div class="container">
        {{range .}}
        
        <div class='music-card playing'>
      
            <!-- <div class='image'></div> -->
            <div class="ImagedivPlayer">
                <img class="Image" src="{{ .Image }}" alt="Image">
            </div>
           
            
            <div class='info'>
              <h2 class='artist'>{{.Name}}</h2>
              <!-- <div class='title'>Lecrae</div> -->
              <div class="creation-date"><strong>Creation Date:</strong> {{.CreationDate}}</div>
              <div class="first-album"><strong>First Album:</strong> {{.FirstAlbum}}</div>
              <form class= "cardEnd" action="/details" method="GET">
                <input type="hidden" name="id" value="{{.ID}}">
                <input class="more" type="submit" value="More...">
            </form>
            </div>
           
           
            <!-- <input class="more" name="more_info" id="more_info" type="submit" value="More.. :("> -->
           
            <i class="fa fa-pause trigger" aria-hidden="true"></i>
            <i class="fa fa-play trigger" aria-hidden="true"></i>
          </div>
          {{end}}
          </div>
    
</body>
</html>