<!DOCTYPE html>
<html>
<head>
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="container">
        {{range .}}
        <div class="card">
            <div class="Imagediv">
                <img class="Image" src="{{ .Image }}" alt="Image">
            </div>
            <div class="name">{{.Name}}</div>
            <div class="members">Members: {{range .Members}}{{.}}, {{end}}</div>
            <div class="creation-date">Creation Date: {{.CreationDate}}</div>
            <div class="first-album">First Album: {{.FirstAlbum}}</div>
            <div class="Locations">
                <strong>Locations:</strong>
                <ul>
                    {{range .Locations}}
                    <li>{{.}}</li>
                    {{end}}
                </ul>
            </div>
            <div class="Dates">
                <strong>Dates:</strong>
                <ul>
                    {{range .Dates}}
                    <li>{{.}}</li>
                    {{end}}
                </ul>
            </div>
            <div class="Relations">
                <strong>Relations:</strong>
                <ul>
                    {{range $key, $value := .DatesLocations}}
                    <li>{{$key}}:
                        <ul>
                            {{range $value}}
                            <li>{{.}}</li>
                            {{end}}
                        </ul>
                    </li>
                    {{end}}
                </ul>
            </div>
            <input name="more_info" id="more_info" type="submit" value="More..:(">
        </div>
        {{end}}
    </div>
</body>
</html>